<div ng-controller="todoController">
    <md-dialog>
        <form ng-cloak>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Eliminar</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon md-svg-src="img/icons/close.svg"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-dialog-content>
                <div class="md-dialog-content">
                    <h2>Esteu segurs d'eliminar-ho?</h2>
                    <p>
                        Si elimineu no podreu recuperar-ho
                    </p>
                </div>
            </md-dialog-content>

            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button ng-click="answer()">
                    No
                </md-button>
                <md-button ng-click="delete(t)">
                    Si
                </md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</div>