<div>
    <form class="navbar-form" align="center">
        &nbsp;
        <div class="form-group navbar-center">
                <div layout="row" layout-align="center" flex>
                    <md-input-container>
                        <label>Cerca el model</label>
                        <input type="text" name="quest" ng-model="query" />
                    </md-input-container>

                    <md-input-container>
                        <label>Ordenar</label>
                        <md-select name="Ordenar" ng-model="orderProp">
                            <md-option value="name">Alfabeticament</md-option>
                            <md-option value="age">Més nou</md-option>
                        </md-select>
                    </md-input-container>
                </div>
        </div>
    </form>
    </div>

    <div class="container-fluid Aligner">
        <div layout="column" layout-align="center center" class="Aligner-item">
            <!--Body content-->
                <md-card ng-repeat="phone in phones | filter:query | orderBy:orderProp"
                         class="phone-list-item">
                    <md-card-header>
                       
                            <md-card-avatar>
                                <img src="/app/img/icons/smartphone.png" />
                            </md-card-avatar>
                      
                        <md-card-header-text>
                            <span class="md-title">AJS Material</span>
                            <span class="md-subhead">CMarin</span>
                        </md-card-header-text>
                    </md-card-header>
                    <a layout layout-align="center" ui-sref="phone({telefonSeleccionat: phone})">
                        <img class="md-card-image-2" height="150" width="150" alt="Washed Out" ng-src="{{phone.imageUrl}}" alt="{{phone.name}}" />
                    </a>
                    <md-card-title class="text-center">
                        <md-card-title-text>
                            <span class="md-headline"><a ui-sref="phone({telefonSeleccionat: phone})">{{phone.name}}</a></span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <p>
                            {{phone.snippet}}
                        </p>
                    </md-card-content>
                </md-card>
        </>
    </div>
</div>  
