<div ng-controller="CardController" ng-cloak>
    <md-content class="md-padding layout-align-center-center" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="50" layout="column" layout-align="center center" layout-padding>
            <md-card>
                <md-card-header>
                    <md-card-avatar>
                        <img class="md-user-avatar" src="img/user.jpg" />
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">Cristian Marin</span>
                        <span class="md-subhead">subhead</span>
                    </md-card-header-text>
                </md-card-header>
                <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Contacte</span>
                        <span class="md-subhead">Reversed</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="start center">
                    <md-button href="https://www.google.es/maps/place/DISI+Disseny+I+Implantacio+de+Sistemes+d'Informacio,+S.L./@40.806703,0.5219274,20.79z/data=!4m12!1m6!3m5!1s0x0:0x70fd580375de83cd!2sDisi!8m2!3d40.80677!4d0.521894!3m4!1s0x12a0e4a611ad3347:0x897f0930ddcc1ca9!8m2!3d40.8066704!4d0.521915" target="_blank"
                               > <md-icon md-svg-icon="img/icons/google.svg"></md-icon> Ubicació</md-button>
                    <md-card-icon-actions>
                            <md-button class="md-icon-button" href="https://www.github.com/marinsan" target="_blanck"><md-icon md-svg-icon="img/icons/github.svg"></md-icon></md-button>
                            <md-button class="md-icon-button" href="https://www.facebook.com/" target="_blanck"><md-icon md-svg-icon="img/icons/facebook.svg"></md-icon></md-button>
                            <md-button class="md-icon-button" href="https://www.instagram.com/" target="_blanck"><md-icon md-svg-icon="img/icons/instagram.svg"></md-icon></md-button>
                            <md-button class="md-icon-button" href="https://www.twitter.com/" target="_blanck"><md-icon md-svg-icon="img/icons/twitter.svg"></md-icon></md-button>
                    </md-card-icon-actions>
                </md-card-actions>
                <md-card-content>
                    <p>
                        Comença'n amb el llenguatge AngularJS, en aquest moment fent petites pinzellades.
                    </p>
                </md-card-content>
            </md-card>
        </div>
    </md-content>
    </div>