<div layout="column" layout-padding ng-cloak>
    <div class="col-sm-8 col-sm-offset-2">
        <br />
        <div layout layout-align="center center"><h1>AngularApp Ajuda</h1></div>
        <br />
      
        <div layout layout-align="center">
            <md-fab-actions>
                <span>
                    <md-button class="md-fab md-raised md-mini">
                        <md-icon title="Home" md-svg-src="img/icons/home.svg">
                        </md-icon>
                    </md-button>
                    Apartat d'inici.
                </span>

                <span>
                    <md-button class="md-fab md-raised md-mini">
                        <md-icon title="Telefons" md-svg-src="img/icons/mobile-devices.svg">
                        </md-icon>
                    </md-button>
                    Apartat on trobareu tauletes i telèfons els quals fent clic sobre ells seus mostrarà els detalls d'aquest.
                </span>

                <span>
                    <md-button class="md-fab md-raised md-mini">
                        <md-icon title="Formulari" md-svg-src="img/icons/compose.svg"></md-icon>
                    </md-button>
                    Formulari simple amb missatges sota el camp.
                </span>

                <span>
                    <md-button class="md-fab md-raised md-mini">
                        <md-icon title="Formulari amb NMessages" md-svg-src="img/icons/check-form.svg"></md-icon>
                    </md-button>
                    Formulari simple amb NgMessages.
                </span>

                <span>
                    <md-button class="md-fab md-raised md-mini">
                        <md-icon title="Formulari Material" md-svg-src="img/icons/clipboard.svg"></md-icon>
                    </md-button>
                    Formulari demo amb material.
                </span>

                <span>
                    <md-button class="md-fab md-raised md-mini">
                        <md-icon title="Contacte" md-svg-src="img/icons/user.svg"></md-icon>
                    </md-button>
                    Dades de contacte.
                </span>

                <span>
                    <md-button class="md-fab md-raised md-mini">
                        <md-icon title="Ajuda" md-svg-src="img/icons/question.svg"></md-icon>
                    </md-button>
                    Apartat d'ajuda.
                </span>
            </md-fab-actions>
        </div>
</div>

</div>
