 <div class="menu-panel" md-whiteframe="4">
     
    <div class="menu-content">
        
           <div class="menu-item" ui-sref="home">
            
                  <button class="md-button">
                
                      <md-icon title="Home" md-svg-src="img/icons/home.svg">

                      </md-icon>
                        Home
                    </button>
        </div>

        <div class="menu-item" ui-sref="phone">
         <md-button>
                    <md-icon title="Telefons" md-svg-src="img/icons/mobile-devices.svg">
                        
                    </md-icon>
                        Telefons
        </md-button>
        </div>

        <div class="menu-item" ui-sref="form">

            <button class="md-button">

                <md-icon title="Formulari" md-svg-src="img/icons/compose.svg">

                </md-icon>
                Formulari

            </button>
        </div>
        <div class="menu-item" ui-sref="formng">

            <button class="md-button">
               
                <md-icon title="Formulari" md-svg-src="img/icons/check-form.svg"></md-icon>
                Formulari amb NMessages

            </button>
        </div>
        <div class="menu-item" ui-sref="taula">

            <button class="md-button">

                <md-icon title="Formulari" md-svg-src="img/icons/baseline-list-24px.svg"></md-icon>
                <span>Data Grid</span>

            </button>
        </div>
        <div class="menu-item" ui-sref="Customers">

            <button class="md-button">

                <md-icon title="Formulari" md-svg-src="img/icons/baseline-list-24px.svg"></md-icon>
                <span>DB Customers</span>

            </button>
        </div>
        <div class="menu-item" ui-sref="mapa">

            <button class="md-button">

                <md-icon title="Mapa" md-svg-src="img/icons/baseline-map-24px.svg"></md-icon>
                <span>Mapa</span>

            </button>
        </div>
        <div class="menu-item" ui-sref="todo">

            <button class="md-button">

                <md-icon title="Todo" md-svg-src="img/icons/note_add.svg"></md-icon>
                <span>Todo</span>

            </button>
        </div>
        <div class="menu-item" ui-sref="Taula_db">

            <button class="md-button">

                <md-icon title="Taula" md-svg-src="img/icons/note_add.svg"></md-icon>
                <span>Taula DB</span>

            </button>
        </div>
        <div class="menu-item" ui-sref="contact">

            <button class="md-button">

                <md-icon title="Formulari" md-svg-src="img/icons/user.svg"></md-icon>
                Contacte

            </button>
        </div>
        <div class="menu-item" ui-sref="help">

            <button class="md-button">

                <md-icon title="Ajuda" md-svg-src="img/icons/question.svg"></md-icon>
                Ajuda

            </button>
        </div>          
        </div>
    </div>