                <div class="menu-panel" md-whiteframe="4">
     
    <div class="menu-content">
        
           <div class="menu-item" ui-sref="home">
            
                  <button class="md-button">
                
                       <span>Home</span>
                
                    </button>
        </div>
        <div class="menu-item" ui-sref="phone">

            <button class="md-button">

                <span>Telefons</span>

            </button>
        </div>
        <div class="menu-item" ui-sref="form">

            <button class="md-button">

                <span>Formulari</span>

            </button>
        </div>
        <div class="menu-item" ui-sref="formng">

            <button class="md-button">

                <span>Formulari amb NMessages</span>

            </button>
        </div>
        <div class="menu-item" ui-sref="taula">

            <button class="md-button">

                <span>Taula</span>

            </button>
        </div>
        <div class="menu-item" ui-sref="taulaTelefons">

            <button class="md-button">

                <span>Taula Telefons</span>

            </button>
        </div>
        <div class="menu-item" ui-sref="contact">

            <button class="md-button">

                <span>Contacte</span>

            </button>
        </div>
        <div class="menu-item" ui-sref="help">

            <button class="md-button">

                <span>Ajuda</span>

            </button>
        </div>          
        </div>
    </div>