    <div id="panelProviderDemo" ng-controller="PanelProviderCtrl as ctrl" ng-cloak class="menu">

        <md-content layout-padding class="menu">

            <div layout="row" layout-align="space-between center" flex>

                <md-button class="md-fab md-primary" aria-label="Navigation"
                           ng-click="ctrl.showMenu($event, ctrl.navigation)">
                    <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                </md-button>

                <div ng-controller="showUserController"  align="right">
                    <md-button class="md-warn" href="#" ua-logout>Sortir</md-button>
                </div>

            </div>
        </md-content> 
    </div>