<h1>{{phone.name}}</h1>
<br />
    <div class="phone-images">
        <img ng-src="{{img}}" class="phone"
             ng-class="{selected: img === mainImageUrl}"
             ng-repeat="img in phone.images" />
    </div>
<ul class="phone-thumbs">
    <li ng-repeat="img in phone.images">
        <img ng-src="{{img}}" ng-click="setImage(img)" />
    </li>
</ul>
<p>{{phone.description}}</p>
<br />

<div ng-controller="Dialog2Controller" ng-cloak md-theme="{{theme}}" class="container" layout layout-align="center center">
    <md-button class="md-primary md-raised" ng-click="showAdvanced($event)">Més Detalls</md-button>
</div>

// Posar un boto de show per mostrar mes detalls, els detalls estaran ocults al mateix template