<div layout="column" layout-align="center center">
    <h1>The Phone Page</h1>
    <p>This page shows some phone models.</p>
</div>

<div layout="row" >

  <div ui-view>
      <div layout="row">
        
          <!-- COLUMN ONE NAMED VIEW -->
          <div class="col-sm-6">
              <div ui-view="Phones"></div>
          </div>

          <!-- COLUMN TWO NAMED VIEW -->
          <div class="col-sm-6" id="show">
              <div ui-view="Details"></div>
          </div>

      </div>    
  </div>

</div>
